.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 90%;
}

.submitmovie {
  height: 50px;
  padding-top: 10px;
  margin-top: 15px;

}

.submitmovie a {
  line-height: 50px;

}
